:root {
  --blue-acqua: #60b6bf;
  --graphite: #504e4e;
  --gray-medium: #969393;
  --pink: #ff8580;
  --pink-light: #ffc4bf;
  --yellow-light: #fff5e6;
}

.mainBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navbar {
  background-color: var(--pink-light);
  color: var(--graphite);
  width: 100%;
}

.littleMenu {
  background-color: var(--pink-light);
  box-sizing: border-box;
  cursor: pointer;
  display: none;
  font-size: 20px;
  padding: 10px 10px;
  text-align: right;
  width: 100%;
}

.simpleText {
  color: var(--graphite);
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
}

.pageTitle {
  color: var(--graphite);
  font-weight: 300;
  text-align: center;
}

form {
  align-self: center;
}

.box {
  font-size: 18px;
  margin: 6px;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

ul li {
  display: inline-block;
  list-style: none;
  padding: 10px;
}

ul li:hover {
  background-color: var(--pink);
}

a {
  color: var(--graphite);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  transition: 100ms;
}

a:hover {
  color: var(--blue-acqua);
}

ul li a {
  color: (var(--graphite));
}

footer {
  font-size: 12px;
  margin-right: 15px;
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 70%;
}

td,
th {
  border: 1px solid var(--pink);
  padding: 4px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: var(--blue-acqua);
  color: var(--yellow-light);
}

@media (max-width: 768px) {
  .littleMenu {
    display: block;
  }

  ul {
    display: none;
  }

  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}
