:root {
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
}

body {
  align-items: center;
  background-color: #fff5e6;
  color:  #504e4e;
  margin: 0;
  padding: 0;
  width: 100%;
}
